 @media (max-width: 1280px)
 
  {
	  
.comment_box1_new
 {
  width: 488px;
}	  
	  
.commnet_filed_con 
{
  width: 76%;
}	  
	  
.calendars {
  background-color: #fff;
  border: 1px solid #999;
  color: #000;
  font-family: Arial,Helvetica,sans-serif;
  margin:217px 0 0 673px !important;
  width: 323px !important;
}	  
	  
	  
	  
.browser_slider
 {
  width: 541px;
}	

.showcase-content-container
 {
  background-color: #000;
  height: 258px !important;
} 


.showcase-arrow-previous, .showcase-arrow-next
 {
  top: 105px;
}



.comment_outer {
  padding: 12px 2px;
  width: 530px;
}

.comment_inn {
  width: 508px;
}


.comment_box1 {
  padding: 10px 5px;
  width: 499px;
}

.comment_box1 h2 
{
  margin: 0 0 0 11px;
}

.comment_box1 p
 {
  margin: 0 0 0 11px;
}



	
#example_3
 {
  left: 609px;
  margin: 10px 0;
}	
	
	

	
.product_left_list {

}

.product_list_outer 
{
  width:930px;
}

.grid2 {
  float: left;
  padding: 0 10% 5% 1%;
  width: 93%;
}

	  
.product_list_right
 {
  margin-left:0;
  width:74%;
}

.load_more_btn {
  width: 100%;
}


.grid-item2 
{
  float: left;
  text-align: right;
  width:43% !important;
}


.item_price2 {
  margin: 18px 0 0 22px;
}
	




	  
	  
	  
.grid-item
{
	width:33% !important;
	float:left;
}

.item_price h2
{
	font-size:29px !important;
}


.item_price 
{
  margin: 18px 0 0 1px;
}

.grid {
  float: left;
  padding:5% 0 5% 1%;
  width:99%;
}	  
	  
	  

.item_found_outer 
{
  width: 873px;
}	

.products_outer 
{
  width: 930px;
} 
	 

	  
.total_user_box2
 {
  margin: 0 0 1px 77px;
}	  
	  
.iou_points_inn
{
	width: 580px;
}	  
	  
	  
.nehbor_inn 
{
  width: 593px;
}	 

.nehbor_inn h2
 {
  margin: 5px !important;
} 
	  

.review_order_left_03 
{
  width: 281px;
}	

.total_user_box
 {
  margin: 0 0 7px 83px;
}


  
.order_list 
{
	width: 300px;
}

.review_order_left2 
{
  width: 302px;
}

.order_list span
 {
  width: 127px;
}

.order_list h3
 {
  width: 126px;
}

.review_order_right
 {
  margin-left: 20px;
  width: 605px;
}

.credit_card_con
 {
  width: 565px;
}
  
.card_holder_detail
 {
  width: 556px;
}  
	  
.login_fld_lft4
 {
  width: 25%;
}  
	  	  
	  
	  
.review_order_left {
  float: left;
  width: 281px;
}	

.verticalslider_tabs2 a:link, .verticalslider_tabs2 a:visited
 {
  font-size: 17px;
}

.cleint_prifile_detail {
  float: left;
  width: 600px;
}

.card_holder_detail2 
{
  width: 568px;
}

.detail_box 
{
  width:622px;
}

.card_holder_filed2
 {
  width: 95%;
}


.iou_points_outer 
{
  width: 590px;
}

.notification_con
 {
  width: 590px;
}

.notification_inn_con 
{
  width: 604px;
}

.claim_detail_con 
{
  width: 573px;
}

.claim_form
 {
  width: 605px;
}

.login_fld_claim_rht2 textarea {
  width: 91%;
}


.login_fld_claim_rht2
 {
  width: 64%;
}

.login_fld_claim_rht2_inn
 {
  width: 87%;
}



	

.massege_detail_outer {
  margin: 0 0 0 34px;
  width: 496px;
}  
	  
.reservation_box
 {
  width: 476px;
}	  
	  
.massege_box 
{
  width: 476px;
}	  
	  
.thanks_outer 
{
  width: 496px;
}	  
	  
.green_massege_con
 {
  width: 496px;
  margin:90px 0 0;
}	  
	 
.green_massege_con textarea 
{
  width: 440px;
}	

.thanks_outer h2 
{
  width: auto;
}	 
	 
	  

.insurance_outer 
{
  width: 930px;
}

	 

.verticalslider_tabs 
{
    width: 280px;
}

.verticalslider
 {
    width: 930px;
}

.verticalslider_contents li 
{
  width: 622px;
}


.upload_heading 
{
  margin-right: 15px;
}

.change-photo a img 
{
  height: 100%;
  width: 104px;
}

.upload_under_form
 {
  width: 568px;
}

.login_fld_rht3
 {
  width: 95%;
}

.upload_photo {
    float: left;
    width: 620px;
}

.change-photo 
{
  width: 568px;
}

.online_product_outer 
{
  width: 590px;
}

.online_product {
  width:188px;
}

.online_product img {
  width:100%;
}

.approved img
{
	width:auto;
}

.rating_outer
 {
  width: 170px;
}

.online_product h3
 {
  font-size: 17px;
}



.auto_con 
{
    margin: auto;
    width: 930px;
}	 


.header_inn
 {
    float: left;
    width: 930px;
}

.header_left_part 
{
  margin-right: 6%;
  width:58%;
}

.navigation li
 {
  font-size: 14px;
  padding: 10px 14px 10px 0;
}

.header_right_part 
{
  width: 34%;
}

.home_left_part 
{
  width: 545px;
}

.homepage_slider_con img
{
	width:100%;
}

.content_part_inn 
{
  padding: 0 0 101px;
  width: 930px;
}

.home_right_part 
{
  margin:63px 0 0 0;
}

.blogg_con
 {
  width: 480px;
}

.homepage_socal_icons
 {
  width: 480px;
}

.calender_con_heading
 {
  width: 479px;
}

.calender_con 
{
  width: 544px;
}

.calender_inn
 {
  padding: 5px 4px;
  width: 535px;
}

.calender_weeks 
{
  margin: 0 50px 0 0;
}

.days 
{
  margin: 0 50px 0 0;
}


.group-add textarea
 {
  width: 94%;
}

.group-add
 {
  width: 99%;
}

}


 @media screen and (max-width: 980px)
 
 {
	 
#tableloginDiv1 {
  left: 25% !important;
}	 
	 
	 
	 
.comment_box1_new
 {
  width: 323px;
}

.commnet_filed_con
 {
  width: 64%;
}	 
	
.resrevation_tab_inn_text
 {
  width: 100%;
}	

.resrevation_tab_inn_text p {
  margin: 6px 0 !important;
  padding: 0 5% !important;
  width: 90%;
}

.resrevation_tab_inn_text span {
  padding: 0 5%;
  width: 90%;
}
	 
.drums_img img
{
	width:100%;
	height:100%;
}

.comment_box3 h2
 {
  font-size: 14px !important;
  margin: 15px 0 0 6px !important;
}

.comment_box3 h2 span {
  font-size: 15px !important;
  font-weight: 300;
}

.offer_pacage_outer
 {
  width: 361px;
}

.offer_price_con_box 
{
  margin: 0 1px 0 0 !important;
}

.offer_pacage_outer h2 {
  border-bottom: 3px solid #22a86d;
  float: left;
  font-size: 17px !important;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 0 74px !important;
  text-align: center !important;
}

.offer_pacage_outer h3 {
  border-bottom: 3px solid #22a86d;
  float: left;
  font-family: "Open Sans";
  font-size: 17px !important;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 38px !important;
  text-align: center !important;
}


.offer_price_con span {
  margin: 0 33px 0 0 !important;
}	 

.login_fld_rht31 {
  float: right;
  margin-bottom: 10px;
  width: 74%;
}

.offer_price_con_box {
  width: 182px;
}


.reservation_img 
{
  height: 32px;
  margin: 0 0 0 10px !important;
  width: 99px;
}







.calendars {
  margin: 273px 0 0 426px !important;
  width: 323px !important;
}
	 
.browser_slider {
  width: 376px;
}	

.showcase-content-container
 {
  background-color: #000;
  height:177px !important;
} 


.showcase-arrow-previous, .showcase-arrow-next
 {
  top:75px;
}	 

.comment_outer {
  padding: 12px 14px;
  width: 351px;
}

.comment_inn {
  width: 343px;
}

.comment_box1 p {
  margin: 0 0 0 52px;
}


.comment_box1 {
  padding: 10px 15px;
  text-align: center;
  width: 313px;
}

.comment_box1 span {
  text-align: center;
  width: 100%;
}

.comment_box1 h2
 {
  margin: 0;
}
 
	 
#example_3 {
  left: 368px;
  margin: 18px 0;
}	 
	 
	 
	 
.product_left_list {
 
}

.product_list_outer 
{
  width:730px;
}

.grid2 
{
  float: left;
  margin: 0 0 0 12px;
  padding: 0 14px 5%;
  width: 92%;
}

	  
.product_list_right
 {
  margin-left:0;
  width:74%;
  margin-bottom:10px;
}

.load_more_btn {
  width: 100%;
}


.grid-item2 
{
  float: left;
  text-align: center;
  width:44% !important;
}

.grid-item2 img
{
	width:100%;
}


.item_price2 {
  margin: 18px 0 0 0;
}
	
	
	
	
	
	
	
	
	
	
	 
.item_found_outer
 {
  width: 664px;
}

.products_outer
 {
  width: 730px;
}

.item_found_outer h3 
{
  font-size: 19px;
}


	  
.total_user_box2
 {
  margin: 0 0 1px 77px;
}	  
	  
.iou_points_inn
 {
  width: 371px;
}


.review_order_left_03 
{
  width: 280px;
}	

.nehbor_inn 
{
  margin: 0;
  width: 411px;
}

.total_user_box
 {
  margin: 0 0 7px 77px;
}


	  
.order_list 
{
	width: 300px;
}

.review_order_left2 
{
  width: 302px;
}

.order_list span
 {
  width: 127px;
}

.order_list h3
 {
  width: 126px;
}

.review_order_right
 {
  margin-left: 10px;
  width: 400px;
}

.credit_card_con
 {
  width: 360px;
}
  
.card_holder_detail
 {
  width: 370px;
}
	  
.login_fld_lft4
 {
  width: 100%;
}

.login_fld_rht4 
{
  width: 100%;
}

.card_holder_detail_inn {
  width: 97%;
}

.card_holder_filed 
{
  width: 94%;
}

.card_holder_filed4 
{
  font-size: 16px;
  width: 36%;
}
	 	  
.card_holder_filed3
{
  font-size: 16px;
  width: 36%;
}  

.agree_checkbox_p 
{
  font-size: 13px;
}	  
	  
.agree_checkbox_inn 
{
  margin: 3px 15px 0 0 !important;
}	  
	  
	 

.avalilable_points
 {
  font-size: 14px !important;
}

.points 
{
  font-size: 18px !important;
  margin: -9px 0 0 5px;
}

.iou_points_outer h2
 {
  float: none;
  font-size: 17px !important;
  margin: 5px !important;
  width: auto;
}

.iou_points_outer p {
  float: none;
  font-size: 13px !important;
  margin: 5px !important;
  width: auto;
}

.repost_btn {
  border-right: 1px solid #cfcfcf;
  float: right;
  margin: -32px 35px 0;
  padding-right: 12px;
}

.delete_icon 
{
  float: right;
  margin: -27px -193px 0;
}

.myoffer_heading
 {
  font-size: 19px;
}

.review_order_left {
  float: left;
  width: 282px;
}	

.verticalslider_tabs2 a:link, .verticalslider_tabs2 a:visited
 {
  font-size: 17px;
}

.cleint_prifile_detail {
  float: left;
  width: 406px;
}

.card_holder_detail2 {
  width: 376px;
}

.detail_box 
{
  width:406px;
}


.card_holder_filed2 {
  width: 84%;
}

.iou_points_outer
 {
  width: 383px;
}

.points_box
 {
  margin: -51px 0 0 5px;
}


.detail_box p
 {
  font-size: 15px !important;
  width: 368px;
}

.notification_con
 {
  width: 381px;
}
.notification_inn_con {
  padding: 10px 0;
  width: 393px;
}

.notification_inn_con h1 
{
  font-size: 20px !important;
}

.notification_inn_con h2
 {
  font-size: 16px !important;
  width: 293px;
}

.notification_inn_con p 
{
  font-size: 14px !important;
  width:250px;
}

.on_off_btn {
  float: right;
  width: 14%;
}

.on_off_btn img {
  width:100%;
}


.claim_detail_con 
{
    width: 364px;
}

.claim_form {
    width: 392px;
}

.login_fld_claim_rht2 textarea {
  width: 87%;
}

.login_fld_claim_lft2 
{
  font-size: 15px !important;
  width: 30%;
}

.geslacht
 {
  margin: 0;
  width: 67%;
}


.login_fld_claim_rht2
 {
  width: 64%;
}

.login_fld_claim_rht2_inn
 {
  width: 87%;
}

.submit_claim_btn 
{
  margin: 0 0 0 101px;
}

.iou_points_outer h3 
{
  padding: 0 5px;
  width:auto;
}

















	 

.mass_right_part 
{
  margin: 10px 0 0;
}

.mass_center_part
 {
  margin: 10px 0 0 6px;
  width: 115px;
}

.mass_inn_box 
{
  width: 360px;
}

.massege_left_con 
{
  width: 382px;
}

.mass_center_part h2
 {
  font-size: 15px;
}

	  
.massege_detail_outer 
{
  margin: 0 0 0 21px;
  width: 310px;
}
	  
.reservation_box
 {
  width:290px;
}	 

.reservation_box p 
{
  font-size: 12px;
  width: 100%;
} 
	  

.massege_box 
{
  padding: 10px 0;
  width: 310px;
}
	  
.thanks_outer 
{
    width: 310px;
}
  
.green_massege_con
 {
    margin:0;
    width: 310px;
}  
	 
.green_massege_con textarea
 {
  width: 256px;
}

.thanks_outer h2 {
  font-size: 22px;
  margin: 0 14px 5px;
  width:auto;
} 
	 

.thanks_outer h3
 {
  font-size: 14px;
  margin: 0 15px;
}



.insurance_outer 
{
  width:720px;
}


.verticalslider_tabs a:link, .verticalslider_tabs a:visited
 {
  padding: 20px 32px;
}
.verticalslider_tabs 
{
    width: 280px;
}

.verticalslider
 {
    width:720px;
}

.verticalslider_contents li 
{
  width:413px;
}


.upload_heading {
  margin-right: 15px;
  width: 100%;
}

.change-photo a img 
{
  height: 100%;
  width: 104px;
}

.upload_under_form {
  width: 360px;
}

.login_fld_rht3
 {
  width: 95%;
}

.upload_photo {
    float: left;
    width:411px;
}


.change-photo {
    width: 360px;
}


.online_product_outer
 {
    width: 381px;
}

.online_product {
    width: 100%;
}

.online_product img {
  width:100%;
}

.approved img
{
	width:auto;
}

.rating_outer
 {
  width:96%;
}

.online_product h3
 {
  font-size: 17px;
}






	 
.auto_con 
{
    margin: auto;
    width:720px;
}	 

.header_inn 
{
  float: left;
  width: 720px;
}

.header_left_part {
  margin-right: 1%;
  width: 59%;
}


.logo 
{
    float: left;
    margin-right: 5px;
}


.navigation li
 {
    font-size: 11px;
    padding: 10px 10px 10px 0;
}

.header_right_part 
{
  width: 39%;
  margin:0;
}

.home_left_part 
{
  width:380px;
}

.homepage_slider_con img
{
	width:100%;
}

.content_part_inn 
{
  padding: 0 0 101px;
  width: 730px;
}

.home_right_part 
{
  margin:63px 0 0 0;
}

.blogg_con
 {
  width:315px;
}

.homepage_socal_icons 
{
  padding: 5px 0;
  width: 379px;
}

.calender_con_heading
 {
  width:314px;
}

.calender_con 
{
  width: 379px;
}

.calender_inn
 {
  padding: 5px 4px;
  width: 370px;
}

.calender_weeks 
{
  margin: 0 24px 0 0;
}

.days 
{
  margin: 0 24px 0 0;
}


.group-add textarea
 {
  width: 91%;
}

.group-add
 {
  width: 99%;
}
	 
	 

.leave_btn
 {
    margin: 0 16px 0 0;
    padding: 15px 25px;
}	

.ask_privately
 {
    padding: 15px 25px;
}

#tableloginDiv
 {
  margin-left: -63px !important;
}	

.grid-item
{
	width:40% !important;
	float:left;
}

.item_price h2
{
	font-size:29px !important;
}


.item_price 
{
  margin: 18px 0 0 1px;
}

.grid {
  float: left;
  padding:5% 8%;
  width: 84%;
}


.month_deatil_con span {
    cursor: pointer;
    float: left;
    margin: 0 0 0 41px;
}
.right_arrow {
    float: right !important;
    margin: 0 69px 0 0 !important;
}	  
	


	 
}


 @media screen and (max-width: 767px)
  {


#tableloginDiv1 {
  left: 6% !important;
}

.comment_box1_new {
  width: 370px;
}

.commnet_filed_con {
  width: 69%;
}


.resrevation_tab_inn_text
 {
  width: 100%;
}	


.resrevation_tab_inn_text p {
  margin: 6px 0 !important;
  padding: 0 5% !important;
  width: 90%;
}

.resrevation_tab_inn_text span {
  padding: 0 5%;
  width: 90%;
}
	
	 
.drums_img img
{
	width:100%;
	height:100%;
}

.comment_box3 h2
 {
  font-size: 14px !important;
  margin: 15px 0 0 6px !important;
}

.comment_box3 h2 span {
  font-size: 15px !important;
  font-weight: 300;
}

.offer_pacage_outer
 {
  width: 371px;
}

.offer_price_con_box 
{
  margin: 0 1px 0 0 !important;
}

.offer_pacage_outer h2 {
  border-bottom: 3px solid #22a86d;
  float: left;
  font-size: 17px !important;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 0 74px !important;
  text-align: center !important;
}

.offer_pacage_outer h3 {
  border-bottom: 3px solid #22a86d;
  float: left;
  font-family: "Open Sans";
  font-size: 17px !important;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 0 38px !important;
  text-align: center !important;
}


.offer_price_con span {
  margin: 0 33px 0 0 !important;
}	 

.login_fld_rht31 {
  float: right;
  margin-bottom: 10px;
  width: 74%;
}

.offer_price_con_box {
  width: 182px;
}


.reservation_img 
{
  height: 32px;
  margin: 0 0 0 10px !important;
  width: 99px;
}





.calender_inn_filed 
{
  width: 142px;
}  
	 
.browser_slider {
  width: 438px;
}
.showcase-content-container
 {
  background-color: #000;
  height:177px !important;
} 


.showcase-arrow-previous, .showcase-arrow-next
 {
  top:75px;
}	 

	  

.comment_outer {
  padding: 12px 14px;
  width: 410px;
}

.comment_inn {
  width: 390px;
}

.comment_box1 {
  width: 361px;
}
.comment_box1 span {
  text-align: center;
  width: 100%;
}

.comment_box1 h2 {
  margin: 0;
  text-align: center;
}

.comment_box1 p
 {
  margin: 0 0 0 78px;
}


	  
	  
	  
	  
.month_deatil_con span {
    cursor: pointer;
    float: left;
    margin: 0 0 0 41px;
}
.right_arrow {
    float: right !important;
    margin: 0 69px 0 0 !important;
}	  
	  
	  

#example_3 {
  left: 100px;
  margin: 18px 0;
}

	  
	  
.grid-item
{
	width:100% !important;
	float:left;
	text-align:center;
}

.item_price h2
{
	font-size:29px !important;
}


.item_price 
{
  margin: 18px 0 0 83px;
}

.products_outer h2
 {
  font-size: 18px;
}
	 
.item_found_outer
 {
  width:405px;
  padding:20px 17px;
}

.products_outer
 {
  width: 450px;
}

.item_found_outer h3 
{
  font-size: 19px;
}

	  
	  
#tableloginDiv 
{
    margin-left: -166px !important;
    margin-top: 19px !important;
}  

	 
	  
.total_user_box2
 {
  margin: 0 0 1px 154px;
}	  
	  
.iou_points_inn
 {
  width: 371px;
}
	  
	  
	  
	  

.review_order_left_03
 {
  width: 436px;
}
	 
.total_user_box {
  margin: 0 0 7px 160px;
}

.nehbor_inn {
  margin: 0;
  width: 434px;
}



.leave_btn {
    margin: 0 0 15px;
    padding: 10px 9px;
}

.ask_privately {
  padding: 10px 22px;
}  
	  
.order_list
 {
  width: 436px;
}

.review_order_left2 
{
  width: 438px;
}

.order_list span 
{
  width: 195px;
}

.order_list h3
 {
  width: 126px;
}

.review_order_right
 {
  margin-left: 0;
  width: 436px;
}

.credit_card_con 
{
  width: 396px;
}
  
.card_holder_detail 
{
  width: 406px;
}
	  
.login_fld_lft4
 {
  width: 100%;
}

.login_fld_rht4 
{
  width: 100%;
}

.card_holder_detail_inn {
  width: 97%;
}

.card_holder_filed 
{
  width: 94%;
}

.card_holder_filed4 
{
  font-size: 16px;
  width: 36%;
}
	 	  
.card_holder_filed3
{
  font-size: 16px;
  width: 36%;
}  

.agree_checkbox_p 
{
  font-size: 13px;
}	  
	  
.agree_checkbox_inn 
{
  margin: 3px 15px 0 0 !important;
}	  
	

.avalilable_points
 {
  font-size: 14px !important;
}

.points 
{
  font-size: 18px !important;
  margin: -9px 0 0 5px;
}

.iou_points_outer h2
 {
  float: none;
  font-size: 17px !important;
  margin: 5px !important;
  width: auto;
}

.iou_points_outer p {
  float: none;
  font-size: 13px !important;
  margin: 5px !important;
  width: auto;
}

.repost_btn {
  border-right: 1px solid #cfcfcf;
  float: right;
  margin: -32px 35px 0;
  padding-right: 12px;
}

.delete_icon 
{
  float: right;
  margin: -27px -193px 0;
}

.myoffer_heading
 {
  font-size: 19px;
}

.review_order_left {
  float: left;
  width: 440px;
}	

.verticalslider_tabs2 a:link, .verticalslider_tabs2 a:visited
 {
  font-size: 17px;
}

.cleint_prifile_detail {
  float: left;
  width: 440px;
}

.card_holder_detail2 {
  width: 376px;
}

.detail_box {
  width: 440px;
}


.card_holder_filed2 {
  width: 84%;
}

.iou_points_outer {
  width: 410px;
}

.points_box
 {
  margin: -51px 0 0 5px;
}


.detail_box p
 {
  font-size: 15px !important;
  width: 368px;
}

.notification_con
 {
  width: 381px;
}
.notification_inn_con {
  padding: 10px 0;
  width: 393px;
}

.notification_inn_con h1 
{
  font-size: 20px !important;
}

.notification_inn_con h2
 {
  font-size: 16px !important;
  width: 293px;
}

.notification_inn_con p 
{
  font-size: 14px !important;
  width:250px;
}

.on_off_btn {
  float: right;
  width: 14%;
}

.on_off_btn img {
  width:100%;
}


.claim_detail_con 
{
    width: 364px;
}

.claim_form {
    width: 392px;
}

.login_fld_claim_rht2 textarea {
  width: 87%;
}

.login_fld_claim_lft2 
{
  font-size: 15px !important;
  width: 30%;
}

.geslacht
 {
  margin: 0;
  width: 67%;
}


.login_fld_claim_rht2
 {
  width: 64%;
}

.login_fld_claim_rht2_inn
 {
  width: 87%;
}

.submit_claim_btn 
{
  margin: 0 0 0 101px;
}

.iou_points_outer h3 
{
  padding: 0 5px;
  width:auto;
}



.mass_right_part 
{
  margin: 10px 0 0;
}

.mass_center_part {
  margin: 10px 0 0 6px;
  width: 151px;
}


.mass_inn_box {
    width: 416px;
}

.massege_left_con 
{
    width: 436px;
}

.mass_center_part h2
 {
  font-size: 15px;
}

	  

.massege_detail_outer 
{
    margin: 0;
    width: 436px;
}
  
.reservation_box {
  width: 416px;
} 

.reservation_box p 
{
  font-size: 16px;
  padding-left: 0;
  width: 100%;
}  

.massege_box 
{
  padding: 10px 0;
  width: 436px;
}
	  

.thanks_outer {
    width: 436px;
}

.green_massege_con {
  margin: 0;
  width: 436px;
} 
	 
.green_massege_con textarea {
  width: 381px;
}

.thanks_outer h2 {
  font-size: 22px;
  margin: 0 14px 5px;
  width:auto;
} 
	 

.thanks_outer h3
 {
  font-size: 14px;
  margin: 0 15px;
}




.insurance_outer 
{
  width:440px;
}



.verticalslider_tabs a:link, .verticalslider_tabs a:visited
 {
  padding: 20px 32px;
}
.verticalslider_tabs {
  width: 436px;
}

.verticalslider {
  width: 436px;
}


.verticalslider_contents li
 {
    margin-left: 0;
    width: 450px;
}


.upload_heading {
  margin-right: 15px;
  width: 100%;
}

.change-photo a img 
{
  height: 100%;
  width: 104px;
}

.upload_under_form {
  width: 386px;
}

.login_fld_rht3
 {
  width: 95%;
}


.upload_photo {
    float: left;
    width: 438px;
}


.change-photo {
  margin: 0;
  width: 396px;
}

.online_product_outer
 {
    width:410px;
}

.online_product {
    width: 100%;
}

.online_product img {
  width:100%;
}

.approved img
{
	width:auto;
}

.rating_outer
 {
  width:96%;
}

.online_product h3
 {
  font-size: 17px;
}


	 
	  
.auto_con 
{
    margin: auto;
    width:440px;
}	 

.header_inn 
{
  float: left;
  width:440px;
}


.header_left_part {
    margin-right: 0;
    width: 100%;
}



.logo 
{
    float: left;
    margin-right: 5px;
    text-align: center;
    width: 100%;
}


.navigation li 
{
  font-size: 17px;
  padding: 10px 12px 10px 10px;
}

.serach 
{
  width: 267px;
}

.header_right_part 
{
  float: left;
  width: 100%;
}


.home_left_part 
{
    width: 440px;
}

.homepage_slider_con img
{
	width:100%;
}


.content_part_inn {
    padding: 0 0 101px;
    width: 440px;
}

.home_right_part {
  float: left;
  margin: 63px 0 0;
  width: 100%;
}

.blogg_con
 {
    width: 374px;
}

.homepage_socal_icons 
{
  padding: 5px 0;
  width: 440px;
}

.calender_con_heading {
  width: 373px;
}

.calender_con 
{
  width: 440px;
}

.calender_inn {
  padding: 5px 4px;
  width: 430px;
}

.calender_weeks 
{
  margin: 0 34px 0 0;
}

.days 
{
  margin: 0 34px 0 0;
}


.group-add textarea
 {
  width: 91%;
}

.group-add
 {
  width: 99%;
}

	
.product_left_list {
  width: 436px;
}

.product_list_outer 
{
  width:436px;
}

.grid2 {
  float: left;
  padding:5% 0 5% 0%;
  width:100%;
}

	  
.product_list_right
 {
  margin-left: 0;
  width:100%;
}

.load_more_btn {
  width: 100%;
}


.grid-item2 
{
  float: left;
  text-align: center;
  width:100% !important;
}


.item_price2 {
  margin: 18px 0 0 0;
}

.calendars {
  margin: 265px 0 0 25px !important;
  width: 323px !important;
}
	


}


@media screen and (max-width: 479px)
 {
	 
.pop_up_outer2 {
  float: left;
  padding: 10px;
  width: 93%;
}

.pop_up_outer2 p
 {
  font-size: 14px;
  line-height: 25px;
}

.btn_cros2 {
  float: left;
  margin: 18px 65px;
}


#tableloginDiv1 {
  left: 3% !important;
  width:307px !important;
}

	 
.commnet_filed_con_inn_r {
  border: 1px solid #b1b1b1;
  color: #aaaaaa;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 35px;
  line-height: 40px;
  margin: 10px 0 0;
  outline: medium none;
  padding: 0 10px;
  width: 55%;
}	 
	 
	 
.comment_box1_new 
{
  padding: 10px 5px;
  width: 276px;
}	 
	 
	 
	 
.top_to_bottom {
  float: left;
  margin: 1785px 0 0;
  position: absolute;
  width:300px;
}	 

.commnet_filed_con {
  width: 58%;
}
	 
	 
.footer_text {
  border-bottom: 1px solid #d7d7d7;
  color: #000;
  float: left;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  padding: 9px 5px 10px;
}	 
	

.resrevation_tab_inn_text
 {
  width: 100%;
}	

.comment_box3 {
  float: left;
  width: 278px;
}

.comment_box3 span {
  float: left;
  margin: 0 0 0 0px;
  text-align: center;
  width:280;
}
.resrevation_tab_inn_text p {
  font-size: 13px !important;
  margin: 6px 0 !important;
  padding: 0 5% !important;
  width: 90%;
}

.resrevation_tab_inn_text span {
  padding: 0 5%;
  width: 90%;
}
	
	 
.drums_img img
{
	width:100%;
	height:100%;
}

.comment_box3 span img {
  border-radius: 50%;
  float: left;
  margin: 0 0 0 100px;
}

.comment_box3 h2
 {
  font-size: 14px !important;
  margin: 15px 0 0 6px !important;
}

.comment_box3 h2 span {
    font-size: 15px !important;
    font-weight: 300;
    width: 100%;
	text-align:center;
}

.offer_pacage_outer {
  width: 256px;
}

.offer_price_con_box 
{
  margin: 0 1px 0 0 !important;
}

.offer_pacage_outer h2 {
  border-bottom: 3px solid #22a86d;
  float: left;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 25px;
  margin: -1px 0 0 49px !important;
  text-align: center !important;
}

.offer_pacage_outer h3 {
  border-bottom: 3px solid #22a86d;
  float: left;
  font-family: "Open Sans";
  font-size: 14px !important;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 0 8px !important;
  text-align: center !important;
}


.offer_price_con span {
  margin: 0 19px 0 0 !important;
  width:70px;
  font-size:15px !important;
}	 

.login_fld_rht31 {
  float: right;
  margin-bottom: 10px;
  width:100%;
}

.offer_price_con_box {
  width:60px;
}


.reservation_img {
  height: 30px;
  margin: 0 0 0 10px !important;
  width: 80px;
}
	
	
	
	
	
	
	
	
	
	
	
	 	 
.calendars 
{
  margin:265px 0 0 0 !important;
  width: 323px !important;
}
	 
.browser_slider {
  width:306px;
}
.showcase-content-container
 {
  background-color: #000;
  height:141px !important;
} 


.showcase-arrow-previous, .showcase-arrow-next
 {
  top:55px;
}	 



.comment_outer {
  padding: 12px 5px;
  width: 304px;
}
.comment_inn {
  width: 286px;
}

.comment_box1 {
  width: 256px;
}
.comment_box1 span {
  text-align: center;
  width: 100%;
}

.comment_box1 h2 {
  font-size: 14px !important;
  line-height: 26px;
  margin: 0 0 5px;
  text-align: center;
}

.comment_box1 p
 {
  margin: 0 0 0 32px;
}



.month_deatil_con span {
    cursor: pointer;
    float: left;
    margin: 0 0 0 31px;
}
.right_arrow {
    float: right !important;
    margin: 0 31px 0 0 !important;
}	  
	  
	  


#example_3 {
  left: 0;
  margin: 18px 0;
  width:320px;
}

.navigation_right_box h2 
{
  font-size: 20px;
  margin: 22px 0 0 8px;
}

.navigation_right_box h4 span
 {
  float: left;
  margin:0px 10px 0 0;
  width: 17px;
}

.navigation_right_box h4 
{
  font-size: 14px;
  margin: 27px 0 0 81px;
}


.navigation_right_box 
{
  padding: 10px;
  width: 296px;
}

.right_nav li 
{
  font-size: 21px;
}

.navigation_right_box span
 {
  float: left;
  text-align: center;
  width: 100%;
}


.right_nav li a 
{
  width: 270px;
}


	
.product_left_list 
{
  width: 315px;
}	

.product_list_outer 
{
  width: 315px;
}

.grid2 {
  float: left;
  margin: 0;
  padding: 5% 0;
  width: 316px;
}

	  
.product_list_right
 {
  margin-left: 0;
  width: 315px;
}

.load_more_btn 
{
  width: 301px;
}


.grid-item2 
{
  float: left;
  text-align: center;
  width:100% !important;
}


.item_price2
 {
  margin: 18px 0 0 0;
}	
	
	
	

.products_outer h2
 {
  font-size: 18px;
}
	 
.item_found_outer {
  padding: 20px 10px;
  width: 295px;
}

.products_outer
 {
  width: 316px;
}

.item_found_outer h3 
{
  font-size: 19px;
}
	 
	 
.card_save_btn_inn
{
	padding:7px 30px;
}

.card_save_btn_inn2
{
	text-align:center;
	padding:7px 28px;
}
	 
	 
  
.total_user_box2
 {
  margin: 0 0 1px 97px;
}	  
	  
.iou_points_inn {
  width: 268px;
}

	 

.review_order_left_03
 {
  width: 320px;
}
 
.total_user_box {
  margin: 0 0 7px 102px;
}

.nehbor_inn 
{
  margin: 0;
  width: 310px;
}

.nehbor_inn h2
 {
  font-size: 20px !important;
}

	 
	  
.order_list 
{
  width:315px;
}

.review_order_left2 
{
  width: 320px;
}

.order_list span
 {
  width: 134px;
}

.order_list h3
 {
  width: 126px;
}

.review_order_right
 {
  margin-left: 0;
  width: 320px;
}

.credit_card_con 
{
  width: 280px;
}
  
.card_holder_detail
 {
  width: 285px;
}

.login_fld_lft4
 {
  width: 100%;
}

.login_fld_rht4 
{
  width: 100%;
}

.card_holder_detail_inn {
  width:100%;
}

.card_holder_filed 
{
  width: 92%;
}

.card_holder_filed4 
{
  font-size: 16px;
  width: 36%;
}
	 	  
.card_holder_filed3
{
  font-size: 16px;
  width: 36%;
}  

.agree_checkbox_p 
{
  float: initial;
  font-size: 14px;
}  
	  
.agree_checkbox_inn
 {
  float: left;
  margin: 4px 10px 5px 0 !important;
}


















.avalilable_points {
  font-size: 12px !important;
}

.points {
  font-size: 16px !important;
  margin: -9px 0 0 5px;
  width: 46px;
}

.iou_points_outer h2
 {
  float: none;
  font-size: 17px !important;
  margin: 5px !important;
  width: auto;
}

.iou_points_outer p {
  float: none;
  font-size: 13px !important;
  margin: 5px !important;
  width: auto;
}

.repost_btn {
  border-right: 1px solid #cfcfcf;
  float: none;
  margin: 7px 0 0;
  padding-right: 12px;
  width: 108px;
  float:left;
}

.delete_icon {
  float: left;
  margin: 13px 17px 0 11px;
  width: 116px;
}
.myoffer_heading {
  font-size: 15px;
}

.review_order_left 
{
  float: left;
  width: 310px;
}	

.verticalslider_tabs2 a:link, .verticalslider_tabs2 a:visited
 {
  font-size: 17px;
}

.cleint_prifile_detail {
  float: left;
  width: 310px;
}

.card_holder_detail2 
{
  width: 280px;
}

.detail_box {
  width:310px;
}


.card_holder_filed2 {
  width: 84%;
}

.iou_points_outer
 {
    width: 284px;
}
.points_box {
    margin: -51px 0 0 5px;
    width: 59px;
}

.points_box2 {
    width: 59px;
    margin: -51px 0 0 5px;
}


.detail_box p 
{
  font-size: 14px !important;
  width: 279px;
}

.notification_con
 {
  width: 278px;
}

.notification_inn_con {
  padding: 10px 0;
  width: 291px;
}
.notification_inn_con h1 {
  font-size: 16px !important;
}

.notification_inn_con h2 {
  font-size: 16px !important;
  width: auto;
}

.notification_inn_con p 
{
  font-size: 14px !important;
  width:250px;
}

.notification_inn_text {
  float: left;
  width: 240px;
}

.notification_inn_text
 {
  float: left;
  width: 290px;
}

.on_off_btn {
  float: right;
  margin: 10px 0 0;
  width: 16%;
}

.on_off_btn img {
  width:100%;
}

.claim_detail_con p {
  font-size: 15px !important;
}


.claim_detail_con {
  margin-left: 0;
  padding: 0;
  width: 310px;
}

.claim_form {
  margin-left: 0;
  width: 306px;
}

.login_fld_claim_rht2 textarea {
  width: 87%;
}

.login_fld_claim_lft2 {d
  font-size: 15px !important;
  width: 100%;
}

.geslacht {
  margin: 0;
  width: 100%;
}


.login_fld_claim_rht2 {
  width: 98%;
}

.login_fld_claim_rht2_inn {
  width: 93%;
}

.submit_claim_btn
 {
  margin: 0 0 0 14px;
}
.iou_points_outer h3 
{
  padding: 0 5px;
  width:auto;
}






.mass_right_part 
{
  margin: 10px 0 0;
}

.mass_center_part {
  margin: 10px 0 0 0px;
  width: 115px;
}


.mass_inn_box {
    width:293px;
}

.massege_outer
 {
  width: 320px;
}

.mass_right_part h4 
{
  font-size: 13px;
}

.mass_icon {
  float: left;
  text-align: center;
  width: 100%;
}




.massege_left_con 
{
    width:315px;
}

.mass_center_part h2
 {
  font-size: 15px;
}

.massege_detail_outer
 {
  margin: 0;
  padding: 10px;
  width: 298px;
}
  
.reservation_box {
  width: 283px;
}

.reservation_box p {
  font-size: 12px;
  padding-left: 0;
  width: 100%;
} 

.massege_box 
{
  padding: 10px 0;
  width: 303px;
}

.massege_box p 
{
  font-size: 14px;
  margin: 10px 7px 0;
}

	  
.thanks_outer
 {
  width: 308px;
}

.green_massege_con
 {
  margin: 0;
  width: 307px;
}
	 
.green_massege_con textarea 
{
  width: 252px;
}

.thanks_outer h2 {
  font-size: 22px;
  margin: 0 14px 5px;
  width:auto;
} 
	 

.thanks_outer h3
 {
  font-size: 14px;
  margin: 0 15px;
}











.insurance_outer 
{
  width:318px;
}



.verticalslider_tabs a:link, .verticalslider_tabs a:visited
 {
  padding: 20px 32px;
}
.verticalslider_tabs {
  width:310px;
}


.verticalslider {
    width: 312px;
}


.verticalslider_contents li {
  margin-left: 0;
  width: 310px;
}


.upload_heading {
  margin-right: 15px;
  width: 100%;
}

.change-photo a img 
{
  height: 100%;
  width:84px;
}

.upload_under_form {
  padding: 10px;
  width: 280px;
}

.login_fld_rht3
 {
  width: 92%;
}


.upload_photo {
  float: left;
  width: 310px;
}


.change-photo 
{
    margin: 0;
    padding: 10px;
    width: 290px;
}

.online_product_outer
 {
    width:278px;
}

.online_product {
    width: 100%;
}

.online_product img {
  width:100%;
}

.approved img
{
	width:auto;
}

.rating_outer
 {
  width:69%;
}

.online_product h3
 {
  font-size: 17px;
}
















	 
.auto_con 
{
    margin: auto;
    width:320px;
}	 

.header_inn 
{
  float: left;
  width:320px;
}


.header_left_part {
    margin-right: 0;
    width: 100%;
}



.logo 
{
    float: left;
    margin-right: 5px;
    text-align: center;
    width: 100%;
}



.navigation li
 {
    font-size: 13px;
    padding: 10px 5px;
}

.serach 
{
  width:130px;
}

.header_right_part
 {
  float: left;
  width: 307px;
}


.home_left_part 
{
  width: 315px;
}

.homepage_slider_con img
{
	width:100%;
}

.home_left_part h2
 {
  font-size: 23px;
}


.content_part_inn {
  padding: 0 0 101px;
  width: 315px;
}

.home_right_part {
  float: left;
  margin: 63px 0 0;
  width: 100%;
}

.blogg_con {
  padding: 15px 10px 15px 32px;
  width: 271px;
}

.homepage_socal_icons img
 {
  float: left;
  margin-right: 13px;
}

.homepage_socal_icons 
{
  padding: 5px 0;
  width:307px;
}

.calender_con_heading {
  width:243px;
}

.calender_con 
{
  width:308px;
}

.calender_inn 
{
  padding: 5px 4px;
  width: 300px;
}

.calender_weeks 
{
  margin: 0 11px 0 0;
}

.days 
{
  margin: 0 11px 0 0;
}


.group-add textarea
 {
  width:92%;
}

.group-add
 {
  width: 99%;
}

.date-time ul li {
  width: 136px;
}

.calender_inn_filed 
{
  width: 121px;
}

.submit_btn img
 {
    text-align: center;
	width:100%;
}

.grid-item
{
	width:100% !important;
	float:left;
	text-align:center;
}


.item_price
 {
  margin: 18px 0 0 16px;
}
}
